body { 
    width: 1080px; 
    height: 1080px;
}

text-black {
    color: #0F0F0F;
}

text-white {
    color: #FEFEFE;
}

.bg-primary-gradient {
    background: linear-gradient(to right, rgb(33, 135, 219), rgb(112, 46, 219));
}

.text-primary-gradient {
    /* Define the gradient */
    background-image: linear-gradient(to right, rgb(33, 135, 219), rgb(112, 46, 219));

    /* Set the text color to transparent */
    color: transparent;

    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Ensuring text is displayed */
    -webkit-text-fill-color: transparent; 
}
