.text-primary-gradient {
    /* Define the gradient */
    background-image: linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));

    /* Set the text color to transparent */
    color: transparent;

    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Ensuring text is displayed */
    -webkit-text-fill-color: transparent; 
}

.bg-primary-gradient {
    background: linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));
}

.bg-primary-gradient-opacity {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7));
}

.bg-primary-gradient-opacity-inter:hover {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 0, 0.8));
}
.bg-primary-gradient-opacity-inter:focus {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 0, 0.8));
}